# macOS
.DS_Store

# Node
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Env
.env
.env.local
